<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>本站在重庆大学信息化办公室的支持下创办，由重庆大学蓝盟运行维护。</p>
        <p>本站的主页和镜像同步工具分别 fork 自清华大学 TUNA 协会的 <a href="https://github.com/tuna/tunasync"><b><em>镜像管理器</em></b></a> 项目和 <a href="https://github.com/tuna/mirror-web"><b><em>镜像站网页</em></b> 项目</a>。</p>
      </div>

      <div class="col-lg-4">
        <h4>Contact Us</h4>
        <div>
          <ul class="social">
            <li>
            <a href="https://groups.google.com/forum/#!forum/cqumirror"><i class="fa fa-envelope"></i> Mailing List</a>
            </li>
            <li>
            <a href="https://github.com/cqumirror/"><i class="fa fa-github"></i> GitHub </a>
            </li>
          </ul>
        </div>
      </div>
      <!--
      <div class="col-lg-4">
        <img class="img-responsive" src="/static/img/logo-white.png" />
      </div>
      -->
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->

<script>
WebFont.load({
	custom: {
		families: ['Lato']
	}
});
</script>
