<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="" alt=""/> 重庆大学开源软件镜像站</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="https://mirrors.cqu.edu.cn/wiki">WIKI</a></li>
        <li><a href="https://mirrors.cqu.edu.cn/status">MIRROR STATUS</a></li>
				<li><a href="http://lanunion.cqu.edu.cn">LANUNION</a></li>
<!--				<li><a href="https://mirrors.cqu.edu.cn/report.html">SERVER STATUS</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
